/* pheix FOSDEM21 presentation */

.pheix-presentation-slide-fosdem21 {
    background-image: url('../img/slides/fosdem21/bgs/bg01.png');
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 70%;
    width: 100%;
    height: calc( 100% - 60px);
}

.pheix-presentation-container::after {
    background-image: url('../img/slides/fosdem21/bgs/bg02.jpg') !important;
    opacity: 0.8 !important;
}

.pheix-presentation-slide-tpc20-text {
    border: 5px solid #111 !important;
    background: rgb(2,0,36) !important;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(17,28,65,1) 35%, rgba(56,16,49,1) 100%)  !important;
}

.reveal .controls { color: #222; }
.reveal a, .reveal a:visited { color: #de2f37; }
.reveal a:hover, .reveal a:focus { color: #ff000c; }
.hljs, .pheix-code-select { background-color: #222 !important; }
.pheix-donate { font-weight: normal !important; color: #f2c2c4; background-color: rgba(247, 30, 41, 0.9); }

.pheix-donate a, .pheix-donate a:visited { font-weight: bold !important; color: #fff; }
.pheix-donate a:hover, .pheix-donate a:focus { font-weight: bold !important; color: #fff; text-decoration: underline; }

a.pheix-author-link, a.pheix-author-link:visited { color: #fa6ef3; }
a.pheix-author-link:hover, a.pheix-author-link:focus { color: #c716be; }

.pheix-text-select { font-weight: bold !important; padding: 0px 10px !important; color: #444; background-color: rgba(247, 30, 41, 0.3); }
.pheix-text-shadow { text-shadow: 1px 1px 2px black; }
.pheix-code-comment { color: #8cd0d3; font-weight: bold !important; }
.pheix-margin-bottom-7 { margin-bottom: 7px !important; }
