@import 'pheix-admin.css';

@font-face {
    font-family: "Strasua";
    src: url("fonts/strasua.eot");
    src: url("fonts/strasua.eot?#iefix") format("embedded-opentype"),
    url("fonts/strasua.ttf") format("truetype"),
    url("fonts/strasua.svg#JournalRegular") format("svg");
}

/* day mode */

body.daymode {
    color: #212529;
    background: linear-gradient(-45deg, #edbf07, #0462bf);
}

.daymode code {
    color: #009b54 !important;
}

.daymode hr { border-bottom: 1px dotted #ccc; }

.daymode ._phx-bg-fc-linear {
    background: linear-gradient(to bottom, #fcfcfc , white);
}

.daymode ._phx-shadbot {
    box-shadow: 0 10px 7px -7px rgba(0, 0, 0, 0.14);
}

.daymode .pheix-canvas {
    min-height: 100vh;
    border-left: 2px solid #aaa;
    border-right: 2px solid #aaa;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    /*background-color: #fff;*/
    background-color:rgba(255, 255, 255, 1);
}

.daymode ._phx-navbar, .daymode .pheix-space { background-color: #fff; }

.daymode .nav-link,
.daymode .nav-link:visited { color: rgba(0,0,0,.5); }
.daymode .nav-link:hover { color: rgba(0,0,0,1); }

.daymode .pheix-space a,
.daymode .pheix-space a:visited {
    color: #f55555;
    border-bottom: 1px dotted #f55555;
    text-decoration: none;
}

.daymode .pheix-space a:hover,
.daymode .pheix-space a:focus,
.daymode .pheix-space a:active {
    color: #a00000;
    border-bottom: 1px dotted #a00000;
}

.daymode .pheix-footer {
    color:#aaa;
    background-color: #f1f1f1;
    background-image: repeating-linear-gradient(135deg, transparent, transparent 5px, rgba(255,255,255,.3) 5px, rgba(255,255,255,.6) 10px);
}

.daymode A.pheix-logotext,
.daymode A.pheix-logotext:visited { color: #505050; text-decoration: none; }

.daymode A.pheix-logotext:hover { color: #101010; text-decoration: none; }

.daymode .pheix-quote { background-color:#f5f5f5; }
.daymode .pheix-captcha { border: 1px solid #ccc; }

.daymode .pheix-card {
    box-shadow: 0 0 7px rgba(0,0,0,0.2);
    border: 1px solid #ddd;
}

.daymode .pheix-card-header {
    background: linear-gradient(to right, #f4f4f4 , #dedede);
    color: #444;
}

.daymode .pheix-card-body {
    color: #555;
    background-color: #fff;
}

.daymode .pheix-card-footer {
    background-color: rgba(0,0,0,.7);
    color: #fff;
}

.daymode .pheix-to-top,
.daymode .pheix-to-top:visited,
.daymode .pheix-to-top:focus { color: #444; }

.daymode .pheix-to-top:hover,
.daymode .pheix-to-top:active { color:red; }

.daymode A.pheix-dropdown-link,
.daymode A.pheix-dropdown-link:visited { color: #f55555 !important; }

.daymode A.pheix-dropdown-link:hover,
.daymode A.pheix-dropdown-link:focus,
.daymode A.pheix-dropdown-link:active { color: #a00000 !important; }

.daymode .carousel { opacity: 1; }

.daymode .dropdown-menu {
    color: #212529;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.15);
}

.daymode .pheix-dropdown-shadow {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)
}

.daymode .pheix-inline-mark { background-color: rgba(245,85,85, .3); }
.daymode .pheix-text-quote { border-left: 7px solid #f55555; }
.daymode .pheix-blog-index > LI { border-color: #ccc; }
.daymode .pheix-blog-tags { color: rgba(33,37,41,.6); }

/*.daymode .nav-tabs { border-bottom: 1px dotted #ccc !important; }*/
.daymode .nav-tabs { border-bottom: none !important; }
.daymode .pheix-row-nav-tabs { border-bottom: 1px dotted #ccc !important; }
.daymode .nav-tabs > LI > A.active { border-bottom: 1px dotted #f55555 !important; background-color: rgba(220, 220, 220, .3); }
.daymode .pheix-chart-canvas { background-color: rgba(220, 220, 220, .3); }

/* night mode */

body.nightmode {
    color: #dedad6;
    background: linear-gradient(-45deg, #453700, #01254a);
}

.nightmode hr { border-bottom: 1px dotted #444; }

.nightmode ._phx-bg-fc-linear {
    background: linear-gradient(to bottom, #030303 , black);
}

.nightmode ._phx-shadbot {
    box-shadow: 0 10px 7px -7px rgba(255, 255, 255, 0.2);
}

.nightmode .pheix-canvas {
    min-height: 100vh;
    border-left: 2px solid #333;
    border-right: 2px solid #333;
    box-shadow: 0 0 20px rgba(255,255,255,0.2);
    /*background-color: #03070a;*/
    background-color:rgba(3, 7, 10, 1);
}

.nightmode ._phx-navbar { background-color: #000; }

.nightmode .nav-link,
.nightmode .nav-link:visited { color: rgba(255,255,255,.5); }
.nightmode .nav-link:hover { color: rgba(255,255,255,1); }

.nightmode .pheix-space a,
.nightmode .pheix-space a:visited {
    color: #0aaaaa;
    border-bottom: 1px dotted #0aaaaa;
    text-decoration: none;
}

.nightmode .pheix-space a:hover,
.nightmode .pheix-space a:focus,
.nightmode .pheix-space a:active {
    color: #5fffff;
    border-bottom: 1px dotted #5fffff;
}

.nightmode .pheix-footer {
    color:#555;
    background-color: #0e0e0e;
    background-image: repeating-linear-gradient(135deg, transparent, transparent 5px, rgba(0,0,0,.3) 5px, rgba(0,0,0,.6) 10px);
}

.nightmode A.pheix-logotext,
.nightmode A.pheix-logotext:visited { color: #afafaf; text-decoration: none; }

.nightmode A.pheix-logotext:hover { color: #efefef; text-decoration: none; }

.nightmode .pheix-quote { background-color: #0a0a0a; }
.nightmode .pheix-captcha { border: 1px solid #333; }

.nightmode .pheix-card {
    box-shadow: 0 0 7px rgba(255,255,255,0.2);
    border: 1px solid #222;
}

.nightmode .pheix-card-header {
    background: linear-gradient(to right, #0b0b0b , #212121);
    color: #bbb;
}

.nightmode .pheix-card-body {
    color: #aaa;
    background-color: #000;
}

.nightmode .pheix-card-footer {
    background-color: rgba(255,255,255,.7);
    color: #000;
}

.nightmode .pheix-to-top,
.nightmode .pheix-to-top:visited,
.nightmode .pheix-to-top:focus { color: #bbb; }

.nightmode .pheix-to-top:hover,
.nightmode .pheix-to-top:active { color:#00ffff; }

.nightmode A.pheix-dropdown-link,
.nightmode A.pheix-dropdown-link:visited { color: #0aaaaa !important; }

.nightmode A.pheix-dropdown-link:hover,
.nightmode A.pheix-dropdown-link:focus,
.nightmode A.pheix-dropdown-link:active { color: #5fffff !important; }

.nightmode .carousel { opacity: .6; }

.nightmode .dropdown-menu {
    color: #dedad6;
    background-color: #000;
    border: 1px solid rgba(255,255,255,.15);
}

.nightmode .pheix-dropdown-link:hover { background-color: #070707; }

.nightmode .pheix-dropdown-shadow {
    box-shadow: 0 .2rem 2rem rgba(255,255,255,.2)
}

.nightmode .alert-warning {
    color: #9c8a32 !important;
    background-color: #1c1502 !important;
    border-color: #3d2c01 !important;
}

.nightmode .alert-danger {
    color: #b53842 !important;
    background-color: #1c0202 !important;
    border-color: #3d0101 !important;
}

.nightmode .alert-danger > A,
.nightmode .alert-danger > A:visited { color: #eb9696; border-bottom: 1px dotted #eb9696; }
.nightmode .alert-danger > A:hover,
.nightmode .alert-danger > A:focus,
.nightmode .alert-danger > A:active { color: #fff; border-bottom: 1px dotted #fff; }

.nightmode .pheix-inline-mark { background-color: rgba(10,170,170,.3); }
.nightmode .pheix-text-quote { border-left: 7px solid #0aaaaa; }
.nightmode .pheix-blog-index > LI { border-color: #222; }
.nightmode .pheix-blog-tags { color: rgba(222,218,214,.6); }

/*.nightmode .nav-tabs { border-bottom: 1px dotted #444 !important; }*/
.nightmode .nav-tabs { border-bottom: none !important; }
.nightmode .pheix-row-nav-tabs { border-bottom: 1px dotted #444 !important; }
.nightmode .nav-tabs > LI > A.active { border-bottom: 1px dotted #5fffff !important; background-color: rgba(40, 40, 40, .3); }
.nightmode .pheix-chart-canvas { background-color: rgba(40, 40, 40, .3); }

.nightmode .toast,
.nightmode .modal-content {
  background-color: rgba(10, 10, 10, .85) !important;
  border: 1px solid rgba(255, 255, 255, .1);
  box-shadow: 0 .25rem .75rem rgba(255, 255, 255, .1);
  color: #dedad6;
}

.nightmode .toast-header {
  background-color: rgba(10, 10, 10, .85);
  border-bottom: 1px solid rgba(255, 255, 255, .05);
  color: #fff;
}

.nightmode .toast-header button,
.nightmode .modal-content pre {
    color: #dedad6;
    margin-bottom: 0;
}
/* common */

body {
    font-family: Ubuntu, san-serif;
    font-size: 12pt;
    background-size: 100% 100%;
}

hr {
    border-top: none;
    border-left: none;
    border-right: none;
    color: transparent;
    margin-top:20px;
}

a { transition: all 0.4s linear; }

*:focus { outline: none !important; }

/* displays */
._phx_dnone { display: none; }
._phx_dnone_force { display: none !important; }

/* inline components */
._phx_component_content {
    position: relative;
    padding: 0;
    margin: 0;
}

/* headers */
h1._phx-hdr-1 { font-size: 2em; }
h2._phx-hdr-2 { font-size: 1.5em; }

/* font-sizers */
._phx-fs5x { font-size: 5em; }
._phx-fs4x { font-size: 4em; }
._phx-fs3x { font-size: 3em; }
._phx-fs2x { font-size: 2em; }
._phx-fs08x { font-size: .8em; }
._phx-fs05x { font-size: .5em; }

/* positions */
._phx-pos-inherit { position: inherit !important; }

/* blocks */
._phx-inline-blck { display: inline-block; }

/* widthers */
._phx-fwdth { width: 100%; }
._phx-wdth-50 { width: 50px; }
._phx-wdth-60 { width: 60px; }
._phx-wdth-70 { width: 70px; }

/* heighters */
._phx-height200 { height: 200px; }

/* aligners */
._phx-force-left  { text-align: left !important; }
._phx-cntr  { text-align: center; }
._phx-left  { text-align: left; }
._phx-rght  { text-align: right; }

/* wrappers */
._phx-wrap15 { height: 15px; }
._phx-wrap25 { height: 25px; }
._phx-wrap50 { height: 50px; }
._phx-wrap75 { height: 75px; }
._phx-wrap100 { height: 100px; }

/* colors */
._phx-ccc   { color: #ccc; }
._phx-alert { color: rgba(220,53,69,.5); }

/* backgrounds */
._phx-transbg { background-color: transparent !important; }

/* font-resizers */
._phx-fnt10 { font-size:10pt; }
._phx-fnt12 { font-size:12pt; }
._phx-fnt14 { font-size:14pt; }
._phx-fnt16 { font-size:16pt; }
._phx-fnt18 { font-size:18pt; }

/* font stylers */
._phx-italic { font-style: italic; }
._phx-bold { font-weight: bold; }
._phx-uline { text-decoration: underline; }

/* marginers */
._phx-nomrg { margin: 0px !important; }
._phx-novmrg { margin-top: 0px !important; margin-bottom: 0px !important; }
._phx-tmrg1 { margin-top:1px !important; }
._phx-tmrg7 { margin-top:7px; }
._phx-bmrg7 { margin-bottom:10px; }

/* padders */
._phx-nopad  { padding: 0px !important; }
._phx-nohpad { padding-left: 0px !important; padding-right: 0px !important;}
._phx-novpad { padding-top: 0px !important; padding-bottom: 0px !important; }
._phx-hpad15 { padding-left: 15px !important; padding-right: 15px !important;}
._phx-hpad25 { padding-left: 25px !important; padding-right: 25px !important;}
._phx-vpad15 { padding-top:15px; padding-bottom:15px; }
._phx-vpad30 { padding-top:30px; padding-bottom:30px; }
._phx-tpad15 { padding-top:15px; }

/* opacities */
._phx-opacity-2 { opacity:.2; }
._phx-opacity-5 { opacity:.5; }
._phx-opacity-8 { opacity:.8; }

/* borders */
._phx-brdrnone { border: none !important; }

.pheix-disable-container {
    pointer-events: none;
    opacity: 0.5;
}

.pheix-chart-canvas { border-radius: 5px; }
.pheix-navy { height: 64px; z-index:999 !important; }
.pheix-content { min-height: calc( (100vh - 114px )); }

.pheix-footer {
    height: 50px;
    font-size: 9pt;
}

.pheix-logotext {
    font-family: Strasua,san-serif;
    font-size: 24pt;
    text-decoration: none;
    font-weight: normal;
}

.pheix-captcha {
    opacity: 0.8;
    width:88px;
    height:31px;
}

.pheix-card {
    border-radius: 7px;
    background-repeat: no-repeat;
    background-size: cover !important;
}

.pheix-card-header {
    padding: 15px;
    border-radius: 5px 5px 0 0;
    font-weight: bold;
    font-size: 14pt;
}

.pheix-card-body {
    padding: 15px;
    border-radius: 0 0 5px 5px;
    font-size: 11pt;
}

.pheix-card-footer {
    padding: 15px;
    border-radius: 0 0 5px 5px;
    font-size: 11pt;
}

.pheix-to-top, .pheix-to-top:visited, .pheix-to-top:focus {
    display: none;
    position: fixed;
    cursor: pointer;
    bottom: 20px;
    right: 20px;
    font-size: 42pt;
    text-decoration: none !important;
    opacity: 0.5;
}

.pheix-wallet { font-weight:bold; }

.pheix-social { font-size: 24pt; margin-bottom: 20px; }

.pheix-social A {
    display: inline-block;
    border: none !important;
    width: 35px;
    opacity: .7;
}

.pheix-social A:hover { opacity: 1; }
.pheix-dropdown-toggle::after {
    position: relative;
    top: 2px;
    margin-left: .7em !important;
    opacity: .7;
}

.pheix-dropdown-menu { position: relative; left: -1px; }

.pheix-spinner-page { text-align: center; }

.pheix-spinner-page .fa-cog,
.pheix-spinner-page .sr-only {
    margin-top: 25px;
    opacity: .3;
}

.pheix-textline-overflow {
    max-width: 100%;
    white-space: nowrap;
    overflow-x: auto;
}

.pheix-text-quote {
    padding-left: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    opacity: .6;
    font-style: italic;
}

.pheix-blog-index {
    list-style-type: none;
    padding: 0;
}

.pheix-blog-index > LI {
    display: block;
    padding-bottom: 1.5rem;
    margin: 1.5rem 0;
    border-bottom: 2px dotted;
}

.pheix-blog-index > LI > SPAN {
    display: block;
}

.pheix-blog-index > LI > SPAN > SPAN,
.pheix-tag-block {
    display: inline-block;
    border-radius: 2px;
    padding: 2px 5px;
}

.pheix-blog-index-title {
    font-size: 16pt;
    letter-spacing: 3px;
    margin-top: 0.5rem;
}

.pheix-blog-index-date {
    opacity: .3;
    text-transform: uppercase;
}

.pheix-blog-index-text {
    margin-top: 0.5rem;
    opacity: 1;
    padding: 1rem;
    padding-left: 2rem;
    border-left: 5px solid rgba(127,127,127,.5);
}

.pheix-blog-tag-01 { margin-top: 0.5rem; background-color: rgba(203,67,53,.3); }
.pheix-blog-tag-02 { margin-top: 0.5rem; background-color: rgba(125,60,152,.3); }
.pheix-blog-tag-03 { margin-top: 0.5rem; background-color: rgba(41,128,185,.3); }
.pheix-blog-tag-04 { margin-top: 0.5rem; background-color: rgba(23,165,137,.3); }
.pheix-blog-tag-05 { margin-top: 0.5rem; background-color: rgba(19,141,117,.3); }
.pheix-blog-tag-06 { margin-top: 0.5rem; background-color: rgba(212,172,13,.3); }
.pheix-blog-tag-07 { margin-top: 0.5rem; background-color: rgba(34,153,84,.3); }
.pheix-blog-tag-08 { margin-top: 0.5rem; background-color: rgba(142,68,173,.3); }
.pheix-blog-tag-09 { margin-top: 0.5rem; background-color: rgba(214,137,16,.3); }
.pheix-blog-tag-10 { margin-top: 0.5rem; background-color: rgba(33,97,140,.3); }
.pheix-blog-tag-11 { margin-top: 0.5rem; background-color: rgba(121,125,127,.3); }
.pheix-blog-tag-12 { margin-top: 0.5rem; background-color: rgba(40,180,99,.3); }
.pheix-blog-tag-13 { margin-top: 0.5rem; background-color: rgba(202,111,30,.3); }
.pheix-blog-tag-14 { margin-top: 0.5rem; background-color: rgba(169,50,38,.3); }
.pheix-blog-tag-15 { margin-top: 0.5rem; background-color: rgba(93,173,226,.3); }
.pheix-blog-tag-16 { margin-top: 0.5rem; background-color: rgba(165,105,189,.3); }
.pheix-blog-tag-17 { margin-top: 0.5rem; background-color: rgba(30,132,73,.3); }
.pheix-blog-tag-18 { margin-top: 0.5rem; background-color: rgba(205,97,85,.3); }
.pheix-blog-tag-19 { margin-top: 0.5rem; background-color: rgba(241,196,15,.3); }


@media( min-width:110px ) {
    .pheix-render-block { display:block; }
    .pheix-item-delim { border-right: none; }
    .pheix-mob-fsz { font-size:14pt; }
    .pheix-footer { padding-top: 6pt; }
    .daymode .pheix-wallet { font-size: 9pt; color: #691002; }
    .nightmode .pheix-wallet { font-size: 9pt; color: #96effd; }
}

@media( min-width:370px ) {
}

@media (min-width:576px ) {
    .pheix-footer { padding-top: calc( ( 50px / 2 ) - 6pt ); }
    .pheix-render-block { display:inline-block; }
    .daymode .pheix-wallet { font-size: 12pt;  color: #212529; }
    .nightmode .pheix-wallet { font-size: 12pt;  color: #dedad6; }
}

@media( min-width:768px ) { }

@media( min-width:992px ) {
    .daymode .pheix-item-delim { border-right: 1px solid #dadada; }
    .nightmode .pheix-item-delim { border-right: 1px solid #252525; }
    .pheix-mob-fsz { font-size: 12pt; }
}

@media( min-width:120px ) {  }

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23444' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23444' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-control-prev, .carousel-control-next {
    border: none !important;
    padding: 0px 10px !important;
}

.carousel-control-next {
    justify-content: flex-end !important;
    text-align: right !important;
}

.carousel-control-prev {
    justify-content: flex-start !important;
    text-align: left !important;
}

.navbar {
    z-index: 100 !important;
}

.nav-tabs > LI > A { display: inline-block; border-bottom: none !important; padding: 10px; }
