._pheix-admin-form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

._pheix-admin-form-signin-login-ico {font-size: 39pt; color: #888; margin-bottom: 10px;}

._pheix-admin-form-signin ._pheix-admin-form-signin-control {
    position: relative;
    width: 100%;
    height: auto;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    background: transparent !important;
}

._pheix-admin-form-signin ._pheix-admin-form-signin-control:focus {
    z-index: 2;
}

._pheix-admin-ethaddr {
    margin-bottom: -1px;
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

._pheix-admin-password {
    margin-bottom: 10px;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.daymode ._pheix-admin-form-signin ._pheix-admin-form-signin-control {
    border: 1px #ccc solid;
    color: #444;
}

.nightmode ._pheix-admin-form-signin ._pheix-admin-form-signin-control {
    border: 1px #555 solid;
    color: #bbb;
}
