/* pheix GPW2021 presentation */

BODY {
    background-color: black !important;
}

.pheix-presentation-slide-gpw21 {
    background-color: black !important;
    background-image: url('../img/slides/gpw21/bgs/bg01.jpg');
    background-repeat: no-repeat;
    background-position: center calc(100vh/2 - 210px) !important;
    background-size: 800px !important;
    width: 100%  !important;;
}

.pheix-presentation-container::after {
    content: "";
    background-image: url('../img/slides/gpw21/bgs/bg02.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    /*background-color: #fff !important;
    background-image: none;*/
}

.pheix-presentation-slide {
    background-color: transparent !important;
}

.pheix-presentation-slide-tpc20-text {
    font-size: 25pt !important;
    border: 5px solid #111 !important;
    background: rgb(2,0,36) !important;
    background: linear-gradient(90deg, rgba(0,54,0,1) 0%, rgba(26, 1, 84,1) 100%)  !important;
}

.reveal .controls { color: #ddd; }
.reveal a, .reveal a:visited { display: inline-block; color: #02c20c; background-color: #ddd; padding: 0px 10px !important; text-shadow: 1px 1px 1px #fff;}
.reveal a:hover, .reveal a:focus { color: #51fc5a; background-color: #999; text-shadow: 1px 1px 1px #555; }
.hljs, .pheix-code-select { background-color: #222 !important; }
.pheix-donate { font-weight: normal !important; color: #f2c2c4; background-color: rgba(247, 30, 41, 0.9); }

.pheix-donate a, .pheix-donate a:visited { font-weight: bold !important; color: #fff; background-color: transparent;  text-shadow: unset; }
.pheix-donate a:hover, .pheix-donate a:focus { font-weight: bold !important; color: #fff; text-decoration: underline; background-color: transparent;  text-shadow: unset; }

a.pheix-author-link, a.pheix-author-link:visited { color: #02c905; background-color: transparent;  text-shadow: unset; }
a.pheix-author-link:hover, a.pheix-author-link:focus { color: #015901; background-color: transparent;  text-shadow: unset; }

.pheix-text-select { display: inline-block; font-weight: bold !important; padding: 0px 10px !important; color: #20fc03; background-color: rgba(0, 0, 0, 0.8); }
.pheix-text-shadow { text-shadow: 1px 1px 2px black; }
.pheix-code-comment { color: #8cd0d3; font-weight: bold !important; }
.pheix-margin-bottom-7 { margin-bottom: 7px !important; }
