/* pheix presentation */

img {
    border: none !important;
}

tt {
    font-family: 'Source Code Pro', monospace !important;
    font-size: 20pt !important;
    color: #555;
}

.pheix-presentation-bg {
    background: none;
}

.pheix-presentation-container::after {
    content: "";
    background-image: url('../img/slides/bgs/bg01.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.6;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    position: absolute;
    z-index: -1;
}

.pheix-presentation-vertical-slide-header {
    background-color: rgba(255, 255, 255, .6);
    padding: 20px 20px !important;
    text-align: center;
    font-size: 22pt !important;
    font-weight: bold !important;
    line-height: 1em !important;
    color: #555;
    width: 100%;
}

.pheix-presentation-slide {
    width: 100%;
    height: calc( 100% - 60px);
}

.pheix-presentation-slide1 {
    background-image: url('../img/slides/slide01.png');
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 70%;
    width: 100%;
    height: calc( 100% - 60px);
}

.pheix-presentation-slide4 {
    background-image: url('../img/slides/slide04.png');
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 90%;
    width: 100%;
    height: calc( 100% - 60px);
}

.pheix-presentation-slide1-header {
    display: inline-block;
    position: absolute !important;
    left: 0px;
    top: 0px;
    padding: 10px 10px !important;
    background-color: rgba(255, 255, 255, .6);
    text-align: left;
    font-size: 22pt !important;
    line-height: 1em !important;
    color: #333;
}

.pheix-presentation-slide4-header {
    display: inline-block;
    position: absolute !important;
    text-align: center;
    width: 420px;
    left: 55px;
    top: 0px;
    padding: 20px 20px !important;
    background-color: rgba(255, 255, 255, .6);
    font-size: 22pt !important;
    line-height: 1em !important;
    color: #333;
}

.pheix-presentation-slide1-descrs-container {
    display: table;
    position: absolute !important;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.pheix-presentation-slide1-descrs {
    display: table-cell;
    vertical-align: middle !important;
    text-align: center;
    font-size: 12pt !important;
    line-height: 1em !important;
}

.pheix-presentation-slide1-author-container {
    display: table;
    position: absolute !important;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.pheix-presentation-slide1-author {
    display: table-cell;
    vertical-align: bottom !important;
    text-align: right;
    font-size: 12pt !important;
    line-height: 2em !important;
    border-bottom: 1px dashed #bbb !important;
    color: #666;
}

.pheix-presentation-slide1-descr-1 {
    display: block;
    position: relative;
    left: -7px;
    top: -77px;
    font-weight: bold !important;
}

.pheix-presentation-slide1-descr-2 {
    display: block;
    position: relative;
    color: #fff;
    left: 155px;
    top: -70px;
    font-weight: normal !important;
}

.pheix-presentation-slide1-descr-3 {
    display: block;
    position: relative;
    left: 255px;
    top: 65px;
    font-weight: bold !important;
}

.pheix-presentation-slide1-descr-4 {
    display: block;
    position: relative;
    left: 105px;
    top: 200px;
    font-weight: normal !important;
}

.pheix-presentation-slide1-descr-5 {
    display: block;
    position: relative;
    left: -45px;
    top: 165px;
    font-weight: normal !important;
}

.pheix-presentation-slide1-descr-6 {
    display: block;
    position: relative;
    left: -175px;
    top: 55px;
    font-weight: normal !important;
}

.pheix-presentation-slide1-descr-7 {
    display: block;
    position: relative;
    color: #fff;
    left: -250px;
    top: -120px;
    font-weight: bold !important;
}

.pheix-presentation-slide1-descr-8 {
    display: block;
    position: relative;
    color: #fff;
    left: -140px;
    top: -300px;
    font-weight: bold !important;
}

.pheix-presentation-slide-bg-1 {
    background-color: rgba(255, 255, 255, .6);
}

.pheix-presentation-slide-header {
    display: block;
    position: absolute !important;
    left: 0px;
    top: 0px;
    padding: 20px 20px !important;
    text-align: center;
    font-size: 22pt !important;
    font-weight: bold !important;
    line-height: 1em !important;
    color: #555;
    width: 100%;
}

.pheix-presentation-slide-body-container {
    display: table !important;
    vertical-align: middle !important;
    height: 100%;
    text-align: left;
    font-size: 22pt !important;
    position: relative !important;
}

.pheix-presentation-slide-body {
    display: table-cell !important;
    vertical-align: middle !important;
}

.pheix-presentation-bigger-font {
    font-size: 26pt;
}

.pheix-presentation-slide4-descr {
    display: block;
    position: relative;
    font-size: 16pt !important;
    font-weight: bold !important;
}

.pheix-presentation-slide8-descr {
    display: block;
    position: relative;
    font-size: 17pt !important;
    line-height: 1.3em !important;
    font-weight: normal;
}

.pheix-presentation-slide4-descr span {
    display: inline-block;
    padding: 20px 20px !important;
    border-radius: 150px;
    width: 150px;
    line-height: 150px !important;
}

.pheix-presentation-slide4-descr-1 {
    left: 280px;
    top: -30px;
}

.pheix-presentation-slide4-descr-1 span {
    background-color: rgba(235, 195, 52, .4);
}

.pheix-presentation-slide4-descr-1 span:hover {
    background-color: rgba(235, 195, 52, .7);
}

.pheix-presentation-slide4-descr-2 {
    left: 330px;
    top: 0px;
}

.pheix-presentation-slide4-descr-2 span {
    background-color: rgba(131, 212, 153, .4);
}

.pheix-presentation-slide4-descr-2 span:hover {
    background-color: rgba(131, 212, 153, .7);
}

.pheix-presentation-slide4-descr-3 {
    left: 280px;
    top: 30px;
}

.pheix-presentation-slide4-descr-3 span {
    background-color: rgba(110, 134, 181, .4);
}

.pheix-presentation-slide4-descr-3 span:hover {
    background-color: rgba(110, 134, 181, .7);
}

.pheix-presentation-slide8 {
    background-image: url('../img/slides/slide08.png');
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 90%;
    width: 100%;
    height: calc( 100% - 60px);
}

.pheix-presentation-slide8-descr-1 {
    left: 265px;
    top: -230px;
}

.pheix-presentation-slide8-descr-2 {
    left: 265px;
    top: 20px;
}

.pheix-presentation-slide11 {
    background-image: url('../img/slides/slide11.png');
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 90%;
    width: 100%;
    height: calc( 100% - 60px);
    left: 60px !important;
}

.pheix-presentation-slide11-descr {
    display: block;
    width: 200px;
    position: relative;
    font-size: 16pt !important;
    line-height: 1.3em !important;
    font-weight: bold !important;
}

.pheix-presentation-slide11-descr-1 {
    left: 620px;
    top: -200px;
}

.pheix-presentation-slide11-descr-2 {
    left: 620px;
    top: -90px;
    padding-top: 15px !important;
    border-top: 2px solid #ccc !important;
}

.pheix-presentation-slide11-descr-3 {
    left: 620px;
    top: 20px;
    padding-top: 10px !important;
    border-top: 2px solid #ccc !important;
}

.pheix-presentation-slide11-descr-4 {
    left: 620px;
    top: 120px;
    padding-top: 10px !important;
    border-top: 2px solid #ccc !important;
}

.pheix-presentation-slide11-text {
    position: absolute !important;
    text-align: left;
    left: 75px;
    top: 450px;
    color: #fff !important;
    font-size: 16pt !important;
    width: 450px;
}

.pheix-presentation-slide12 {
    background-image: url('../img/slides/slide12.png');
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 90%;
    width: 100%;
    height: calc( 100% - 60px);
}

.pheix-presentation-slide12-text {
    padding: 20px 20px !important;
    background-color: rgba(0, 0, 0, .2);
    position: relative !important;
    top: 50px;
    font-weight: bold !important;
    color: #fff !important;
}

.pheix-presentation-slide16 {
    background-image: url('../img/slides/slide16.png');
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 90%;
    width: 100%;
    left: -30px;
    height: calc( 100% - 60px);
}

.pheix-presentation-slide16-descr {
    display: block;
    position: relative;
    font-size: 19pt !important;
    line-height: 1.3em !important;
    font-weight: normal;
    width: 230px;
    text-align: left;
}

.pheix-presentation-slide16-descr-1 {
    left: 572px;
    top: -150px;
    border-bottom: 10px solid #2bed4b !important;
}

.pheix-presentation-slide16-descr-2 {
    left: 570px;
    top: 0px;
    border-bottom: 10px solid #8e4efc !important;
}

.pheix-presentation-slide16-descr-3 {
    left: 570px;
    top: 150px;
    border-bottom: 10px solid #fc7553 !important;
}

.pheix-presentation-slide16-descr-1::after {
    top: -25px;
    left: 250px;
    bottom: 0px;
    right: 0px;
    width: 100px;
    height: 100px;
    position: absolute;
    content: "";
    background-image: url('../img/slides/icons/hat.png') !important;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 90%;
}

.pheix-presentation-slide16-descr-2::after {
    top: -25px;
    left: 250px;
    bottom: 0px;
    right: 0px;
    width: 100px;
    height: 100px;
    position: absolute;
    content: "";
    background-image: url('../img/slides/icons/jewelry.png') !important;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 90%;
}

.pheix-presentation-slide16-descr-3::after {
    top: -25px;
    left: 250px;
    bottom: 0px;
    right: 0px;
    width: 100px;
    height: 100px;
    position: absolute;
    content: "";
    background-image: url('../img/slides/icons/magic.png') !important;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 90%;
}

.pheix-presentation-slide17 {
    background-image: url('../img/slides/slide17.png');
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: calc(50% + 70px) center;
    background-size: 70%;
    width: 100%;
    left: 0px;
    height: calc( 100% - 60px);
}

.pheix-presentation-slide17-descr {
    display: block;
    position: relative;
    font-size: 16pt !important;
    line-height: 1.3em !important;
    font-weight: normal;
    width: 180px;
    text-align: center;
}

.pheix-presentation-slide17-descr-1 {
    padding: 20px 20px !important;
    left: 160px;
    top: -70px;
    background-color: rgba(43, 237, 75, 0.3) !important;
}

.pheix-presentation-slide17-descr-2 {
    padding: 20px 20px !important;
    left: 130px;
    top: -40px;
    background-color: rgba(142, 78, 252, 0.3) !important;
}

.pheix-presentation-slide17-descr-3 {
    padding: 20px 20px !important;
    left: 110px;
    top: -10px;
    background-color: rgba(252, 117, 83, 0.3) !important;
}

.pheix-presentation-slide17-descr-4 {
    padding: 20px 20px !important;
    left: 90px;
    top: 20px;
    background-color: rgba(79, 227, 224, 0.3) !important;
}

.pheix-presentation-slide20 {
    background-image: url('../img/slides/slide20.png');
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 70%;
    width: 100%;
    height: calc( 100% - 60px);
}

.pheix-presentation-slide20-descr {
    display: block;
    position: relative;
    font-size: 18pt !important;
    line-height: 1.3em !important;
    font-weight: bold !important;
    width: 180px;
    text-align: center;
    color: #fff;
}

.pheix-presentation-slide20-descr-1 {
    padding: 20px 20px !important;
    left: 30px;
    top: 85px;
    color: rgba(35, 102, 27, .9) !important;
    /* background-color: rgba(35, 102, 27, .7); */
}

.pheix-presentation-slide20-descr-2 {
    padding: 20px 20px !important;
    left: 365px;
    top: 12px;
    color: rgba(142, 78, 252, .9) !important;
    /* background-color: rgba(142, 78, 252, .7); */
}

.pheix-presentation-slide20-descr-3 {
    padding: 20px 20px !important;
    left: 700px;
    top: -56px;
    color: rgba(145, 47, 42, .9) !important;
    /* background-color: rgba(145, 47, 42, .7); */
}


/*
.pheix-presentation-slide20-descr-1:hover {
    background-color: rgba(35, 102, 27, .9);
}

.pheix-presentation-slide20-descr-2:hover {
    background-color: rgba(142, 78, 252, .9);
}

.pheix-presentation-slide20-descr-3:hover {
    background-color: rgba(145, 47, 42, .9);
}
*/

.pheix-presentation-slide20-descr-1::after {
    top: 50px;
    left: -10px;
    bottom: 0px;
    right: 0px;
    width: 240px;
    height: 240px;
    position: absolute;
    content: "";
    background-image: url('../img/slides/slide20_1.png') !important;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 60%;
}

.pheix-presentation-slide20-descr-2::before {
    border-left: 1px solid #ccc;
    position: absolute;
    content: "";
    height: 230px;
    left: -70px;
}

.pheix-presentation-slide20-descr-2::after {
    top: 50px;
    left: -35px;
    bottom: 0px;
    right: 0px;
    width: 280px;
    height: 280px;
    position: absolute;
    content: "";
    background-image: url('../img/slides/slide20_2.png') !important;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 80%;
}

.pheix-presentation-slide20-descr-3::before {
    border-left: 1px solid #ccc;
    position: absolute;
    content: "";
    height: 230px;
    left: -60px;
}

.pheix-presentation-slide20-descr-3::after {
    top: 30px;
    left: -30px;
    bottom: 0px;
    right: 0px;
    width: 280px;
    height: 280px;
    position: absolute;
    content: "";
    background-image: url('../img/slides/slide20_3.png') !important;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 70%;
}

.pheix-presentation-slide24 {
    background-image: url('../img/slides/slide24.png');
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 70%;
    width: 100%;
    height: calc( 100% - 60px);
}

.pheix-presentation-slide24-descr {
    display: block;
    position: relative;
    font-size: 16pt !important;
    line-height: 1.3em !important;
    font-weight: bold !important;
    text-align: center;
}

.pheix-presentation-slide24-header {
    color: #fff;
    background-color: rgba(3, 65, 252, .7);
}

.pheix-presentation-slide24-descr-1 {
    left: 0px;
    top: -100px;
}

.pheix-presentation-slide24-descr-2 {
    left: -170px;
    top: 120px;
}

.pheix-presentation-slide24-descr-3 {
    left: 170px;
    top: 64px;
}

.pheix-presentation-slide24-descr-4 {
    left: 0px;
    top: -60px;
    font-size: 22pt !important;
    color: #fff;
}

.pheix-presentation-slide28 {
    background-image: url('../img/slides/slide28n.png');
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center 50px;
    background-size: 90%;
    width: 100%;
    height: calc( 100% - 60px);
}

.pheix-presentation-slide28-descr {
    display: block;
    position: relative;
    font-size: 12pt !important;
    line-height: 1.3em !important;
    font-weight: normal !important;
    text-align: center;
}

.pheix-presentation-slide28-descr-1 {
    left: -245px;
    top: -84px;
}

.pheix-presentation-slide28-descr-2 {
    left: 27px;
    top: -105px;
}

.pheix-presentation-slide28-descr-2d {
    left: 265px;
    top: -126px;
}

.pheix-presentation-slide28-descr-3 {
    left: -98px;
    top: -35px;
}

.pheix-presentation-slide28-roadmap-descrs {
    position: relative;
    top: 420px;
}

.pheix-presentation-slide28-roadmap-descr-1,
.pheix-presentation-slide28-roadmap-descr-2 {
    position: relative;
    font-size: 11pt !important;
    line-height: 1.3em !important;
    width: 360px;
    text-align: left;
}

.pheix-presentation-slide28-roadmap-descr-1 {
    display: inline-block;
    /* top: 413px; */
    top: -2.6em;
    left: -5px;
    background-color: rgba(142, 78, 252, .2);
    padding: 20px 20px !important;
}

.pheix-presentation-slide28-roadmap-descr-2 {
    display: inline-block;
    /* top: 260px; */
    left: 0px;
    background-color: rgba(145, 47, 42, .2);
    padding: 20px 20px !important;
}

.pheix-presentation-slide29 {
    background-image: url('../img/slides/slide29.jpg');
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center 40px;
    background-size: 80%;
    width: 100%;
    height: calc( 100% - 60px);
}

.pheix-presentation-slide29-credits {
    display: block;
    position: relative;
    font-size: 13pt !important;
    line-height: 1.3em !important;
    text-align: center;
    top: 450px;
}

.pheix-presentation-slide29-credits-donate {
    font-size: 16pt !important;
    font-weight: bold !important;
}
